modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["zip"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 21528
externalPort = 3000

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_c2F2aW5nLXRhZHBvbGUtNjIuY2xlcmsuYWNjb3VudHMuZGV2JA"
VAPID_PUBLIC_KEY = "BNVCFrzkRpeaJr-6kFesf5KkjQnJg38VX91kPm2QVeCWhP7L_tuvENlRgTE2Qxs6tLRZ8Yh2itKEVtcLsNVyLxE"
VAPID_PRIVATE_KEY = "k_mDxnZbT-WYxhVsh5-1LqNhB739-hsYq2hvuSbaxIg"
VAPID_SUBJECT = "mailto:admin@ava-fight.app"
